*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Para usar medidas Rem: 1 rem equivale a 10px; */
html {
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #293462;
}
body {
  height: 100vh;
  
}
  
/*Init*/
  .divInit {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
  }

  .divInitImg {
    align-items: center;
    margin-top: 0 auto;
    padding: 2rem;
  }
  /* @media (min-width:844px) {
    .divInit {
      display: flex;      
      flex-wrap: no-wrap;
    }
  } */
  .imgInitLogo {
    margin-left: 3rem;
    height: 100%;
    width: 80%;
  }
  .divButtons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
  }

  .buttonCreateCount {
    width: 25rem;
    height: 5rem;
    border-radius: 4rem;
    background-color: #F58634;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    border: 0.3rem solid #F58634;
    margin: 2.5rem 7rem;
  }
  .buttonInitLogin {
    
    width: 25rem;
    height: 5rem;
    border-radius: 4rem;
    background-color: #F58634;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin: 2.5rem 7rem;
    border: 0.3rem solid #F58634;
  }

  /* Login */
  .divLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .divArrowLogin {
    padding: 1rem;
  }

  .divLoginImg {
    display: flex;
    justify-content: center;
    width: 31rem;
    height: 11rem;
  }
  .imgLoginLogo {
    height: 100%;
    width: 100%;
    padding: 1rem;
  }

  .divInputs {
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
  .divTextEmail{
    color: #293462;
    margin-top: 1rem;
    margin-left: 10rem;
    font-size: small;
    font-weight: bold;
  }
  .inputEmail{
    width: 25rem;
    height: 5rem;
    border-radius: 4rem;
    font-size: 2rem;
    text-align: center;
    border: 0.3rem solid #F58634;
    margin: 1rem 7rem;
  }
  .divTextPassword {
    color: #293462;
    margin-top: 1rem;
    margin-left: 10rem;
    font-size: small;
    font-weight: bold;
  }
  .inputPassword {
    width: 25rem;
    height: 5rem;
    border-radius: 4rem;
    font-size: 2rem;
    text-align: center;
    border: 0.3rem solid #F58634;
    margin: 1rem 7rem;
  }
  .divForgotPassword {
    color: #293462;
    margin-top: 0rem;
    margin-left: 15rem;
    font-size: small;
    font-weight: bold;
  }
  .buttonLogin{
    width: 25rem;
    height: 5rem;
    border-radius: 4rem;
    background-color: #F58634;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin: 2rem 7rem;
    border: 0.3rem solid #F58634;
  }
  .divLoginOthers {
    display: flex;    
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

  }
  .buttonGoogle {
    width: 25rem;
    height: 5rem;
    border-radius: 4rem;
    background-color:#DB4437;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin: 2rem 7rem;
    border: 0.3rem solid #DB4437;
  }

     /* Register */
  .divRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
   }

   .divArrowRegister {
    display: flex;
    align-items: flex-start;
   }

   .divLogoRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 31rem;
    height: 11rem;
   }
  .imgLogoRegister {
    width: 100%;
    height: 100%;
   }

   .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   .inputRegister {
    display: flex;
    justify-content: center;
    margin: 1.5vh;
    padding: 1vh;
    width: 25rem;
    height: 5rem;
    border-radius: 4rem;
    font-size: 2rem;
    text-align: center;
    border: 0.3rem solid #F58634;
   }
   .inputForm {
    display: flex;
    justify-content: center;
    border: 0;
    margin: 1vh;
    padding: 1vh;
   }

    .no-arrow::-webkit-outer-spin-button,
    .no-arrow::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    /* Firefox */
    .no-arrow[type=number] {
      -moz-appearance: textfield;
    }

   .buttonRegister button {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: #F58634;
    color: white;
    padding: 15px 10px;
    border-radius: 4rem;
    font-weight: bold;
    font-size: 1.5rem;
   }
   .divRegisterText {
    display: flex;
    justify-content: center;
   }
   .aLogin{
    font-family: Roboto;
    font-size: small;
    margin-top: 1rem;
   }
 

   .imgContrasena,
   .imgConfirmContrasena {
    cursor: pointer;
   }

/* Home -  Profile */
  .menu {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: rgba(166, 241, 125, 0.28);
    width: 37.5rem;
    height: 5.8rem;
    padding: 0.3rem;
  }
  .imgLogo {
    margin: auto 4rem;
    display: flex;
    height: 5rem;
    width: 19.2rem;
    padding: 0.3rem;
  }
  .imgSandwich {
    margin: 1rem 3rem;
    padding: 0.5rem;
    display: flex;
    align-items: flex-end;
    
  }
    /* cajita para el posteo */
  .container {
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 37.5rem;
    }
  .profilePost {
    margin: 0 auto;
    height: 14.2rem;
    width: 34.4rem;
    margin: 0.5rem;
  }
  .userName {
    height: 2.5rem;
    background-color: rgba(0, 235, 235, 0.88);
  }
  .divPostHome {
    height: 9.2rem;
    width: 34.4rem;
  }
  .postHome {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 0;
    background-color: hsl(180, 82%, 80%);
  }
  .divButtonPublish{
    height: 2.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 235, 235, 0.88);
  }
  .button {
    height: 2rem;
    width: 8rem;
    border: 1rem;
    border-radius: 0.5rem;
    background-color: hsl(180, 82%, 80%);
    margin: 0 1rem;

  }
  /* para la pizarra */
  .pizarraName {
    height: 2.5rem;
    background-color: rgba(0, 235, 235, 0.88); 
  }
  .divPostBoard {
    height: 9.2rem;
    width: 34.4rem;
  }
  .postBoard {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 0;
    background-color: hsl(180, 82%, 80%);
  }
  .buttons {
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 235, 235, 0.88);
  }
  .buttonBoard {
    height: 2rem;
    width: 8rem;
    border: 1rem;
    border-radius: 0.5rem;
    background-color: hsl(180, 82%, 80%);
    margin: 0 1rem;
  }
  .imgPlane{
    height: 1.5rem;
    margin: 0.25rem;
  }
